<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pets</title>
</head>
<body>
    <h1 class="jumbotron">New Pets</h1>
    <form action="/pets/create" method="POST"> 
        <!-- sending request to server (controller) -->
        <div class="container">
            <label for="owner_id" >Owner:</label>
            <select type="text" class="form-control" name="owner_id">
                {% for owner in owners %}
                    <option value="{{owner.id}}">
                        {{owner.name}}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="container">
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" name="first_name">
        </div>
        <div class="container">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" name="last_name">
        </div>
        <div class="container">
            <label for="age" >Age:</label>
            <input type="number" class="form-control" name="age">
            <hr>
            <button type="submit" class="btn btn-dark text-center mx-auto">Add the Pet</button>
        </div>
    </form> 
    <hr>
    <a href="/" type="submit">Home</a>
</body>
</html>